.animation--title-slide-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-animation-name: slide-up;
  animation-name: slide-up;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.animation--showcase-carousel {
  -webkit-animation-name: carousel;
  animation-name: carousel;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes slide-up {
  0% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  40% {
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    -o-transform: translate(0, 50px);
    transform: translate(0, 50px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }
@-webkit-keyframes carousel {
  0% {
    left: 0; }
  11% {
    left: 0; }
  12.5% {
    left: -100%; }
  23.5% {
    left: -100%; }
  25% {
    left: -200%; }
  36% {
    left: -200%; }
  37.5% {
    left: -300%; }
  48.5% {
    left: -300%; }
  50% {
    left: -400%; }
  61% {
    left: -400%; }
  62.5% {
    left: -300%; }
  73.5% {
    left: -300%; }
  75% {
    left: -200%; }
  86% {
    left: -200%; }
  87.5% {
    left: -100%; }
  98.5% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes carousel {
  0% {
    left: 0; }
  11% {
    left: 0; }
  12.5% {
    left: -100%; }
  23.5% {
    left: -100%; }
  25% {
    left: -200%; }
  36% {
    left: -200%; }
  37.5% {
    left: -300%; }
  48.5% {
    left: -300%; }
  50% {
    left: -400%; }
  61% {
    left: -400%; }
  62.5% {
    left: -300%; }
  73.5% {
    left: -300%; }
  75% {
    left: -200%; }
  86% {
    left: -200%; }
  87.5% {
    left: -100%; }
  98.5% {
    left: -100%; }
  100% {
    left: 0; } }
.trans {
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }

@font-face {
  font-family: "y4djicons";
  src: url("/fonts/y4dj-icon.eot");
  src: url("/fonts/y4dj-icon.eot?#iefix") format("embedded-opentype"), url("/fonts/y4dj-icon.woff") format("woff"), url("/fonts/y4dj-icon.ttf") format("truetype"), url("/fonts/y4dj-icon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 8em;
  margin-top: 0;
  line-height: 1; }
  h1 em {
    font-style: normal; }
  h1 span {
    display: block;
    font-size: 27%;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding-top: 0.2em; }
  .sans-serif h1 {
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    font-size: 7.6em; }
    .sans-serif h1 span {
      padding-left: 0.2em; }
  .serif h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-weight: 700; }
    .serif h1 span {
      padding-top: 0.5em; }

h2 {
  font-size: 5em;
  letter-spacing: 0px;
  text-align: center; }
  .sans-serif h2 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    margin: 0.43em; }
  .serif h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e;
    line-height: 1.2; }

h3 {
  font-size: 3em;
  margin: 0; }
  .sans-serif h3 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333; }
  .serif h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e; }
  h3.alt {
    color: #fff; }

h4 {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 10px; }
  .sans-serif h4 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 400;
    color: #333; }
  .serif h4 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #34495e; }

p {
  font-size: 1.5em;
  color: #333;
  line-height: 1.5;
  text-align: left; }
  .sans-serif p {
    font-family: 'Lato', Helvetica, Arial, sans-serif; }
  .serif p {
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif; }
  .sans-serif p a {
    color: #ff7252; }
    .sans-serif p a:hover {
      color: #ff3305;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
  .serif p a {
    color: #46627f; }
    .serif p a:hover {
      color: #2b3c4e;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
  p.alt {
    color: #fff;
    font-size: 20px;
    margin: 0; }
  @media screen and (max-width: 800px) {
    p {
      font-size: 1.2em; } }

.container {
  background-color: #dfe3e3;
  overflow: hidden;
  margin: 0;
  position: relative; }

@media screen and (max-width: 1024px) {
  .container {
    margin: 0; } }
@media screen and (max-width: 800px) {
  .container {
    margin: 0; } }
.home {
  overflow: hidden;
  border: 30px white solid;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  /* IE10/11 */
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -ms-flex-pack: center;
  /* IE10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.home-msg {
  font-size: 156px;
  text-align: center; }
  .home-msg:hover {
    color: black;
    -webkit-transition: 0.35s;
    -o-transition: 0.35s;
    transition: 0.35s;
    cursor: not-allowed; }

@media screen and (max-width: 1024px) {
  .home {
    margin: 15px 15px 0 15px; } }
@media screen and (max-width: 800px) {
  .home {
    margin: 0;
    height: 100vh; } }
.y4dj__header {
  overflow: hidden;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  -webkit-transition-property: all;
  transition-property: all; }
  .y4dj__header:before {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute; }
  .y4dj__header:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 4;
    -webkit-box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.45);
    box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.45); }
    .aquest .y4dj__header:after {
      -webkit-box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.35);
      box-shadow: inset 0px -1px 238px 27px rgba(0, 0, 0, 0.35); }
  .y4dj__header.slide-up {
    -webkit-transition: -webkit-transform 0.55s;
    -moz-transition: -moz-transform 0.55s;
    -o-transition: -o-transform 0.55s;
    transition: transform 0.55s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition-property: all;
    transition-property: all;
    opacity: 0; }

.y4dj__header--bd {
  background: #fff; }
  .y4dj__header--bd:before {
    background-image: url("/images/11b.jpg");
    opacity: 0.95; }

.y4dj__header--siberia {
  background: #34495e; }
  .y4dj__header--siberia:before {
    background-image: url("/images/rugrat-roll.gif");
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray;
    opacity: 0.7; }

.y4dj__header--hello {
  background: #000;
  background: -webkit-linear-gradient(right top, rgba(74, 74, 74, 0) 0%, #4a4a4a 100%), -webkit-linear-gradient(right bottom, rgba(115, 115, 132, 0) 0%, #737384 100%), -webkit-linear-gradient(left top, rgba(96, 43, 21, 0) 0%, #602b15 100%), -webkit-linear-gradient(left bottom, rgba(138, 148, 171, 0) 0%, #8a94ab 100%); }
  .y4dj__header--hello:before {
    background-image: url("/images/seinfeld-hi.gif");
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray; }

.y4dj__header--ralph-hello {
  background: #000;
  background: -webkit-linear-gradient(right top, rgba(83, 28, 0, 0) 0%, #531c00 100%), -webkit-linear-gradient(left top, rgba(190, 99, 80, 0) 0%, #be6350 100%), -webkit-linear-gradient(right bottom, rgba(103, 148, 161, 0) 0%, #6794a1 100%), -webkit-linear-gradient(left bottom, rgba(222, 219, 221, 0) 0%, #dedbdd 100%); }
  .y4dj__header--ralph-hello:before {
    background-image: url("/images/ralph-hi.gif");
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    filter: gray; }

.y4dj__header-content {
  margin: 0 auto;
  position: relative;
  height: 100vh;
  width: 1100px;
  z-index: 5;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  /* IE10/11 */
  -webkit-align-content: center;
  -moz-align-content: center;
  -ms-align-content: center;
  align-content: center;
  -ms-flex-pack: center;
  /* IE10 */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }

.y4dj__header-detail {
  color: #fff;
  font-size: 0.75em;
  position: absolute;
  z-index: 40;
  bottom: 2%;
  right: 2%; }

.y4dj__box-arrow {
  border: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  z-index: 40;
  bottom: 10%;
  left: 50%;
  margin: 0 0 0 -24px;
  cursor: pointer;
  display: block; }
  .sans-serif .y4dj__box-arrow {
    background: #ff481f; }
  .serif .y4dj__box-arrow {
    background: #34495e; }
  .y4dj__box-arrow .arrow-line {
    width: 2px;
    height: 18px;
    top: 14px;
    left: 50%;
    position: absolute;
    display: block;
    margin: 0 0 0 -1px;
    background: #fff;
    z-index: 1; }
  .y4dj__box-arrow .arrow {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 7px 6px 0 6px;
    border-color: #fff transparent transparent transparent;
    display: block;
    position: absolute;
    z-index: 4;
    bottom: -4px;
    left: -5px; }
  .sans-serif .y4dj__box-arrow:hover {
    background: #ff3305; }
  .serif .y4dj__box-arrow:hover {
    background: #2b3c4e; }
  .y4dj__box-arrow:hover .arrow-line {
    height: 49px; }

.y4dj__content-container {
  -webkit-transform: translate3d(0, 3%, 0);
  transform: translate3d(0, 3%, 0); }

.y4dj__content {
  max-width: 1000px;
  margin: 0 auto 5em;
  opacity: 0;
  overflow: hidden;
  padding: 0.5em 2em;
  -webkit-transition: -webkit-transform 0.55s;
  -moz-transition: -moz-transform 0.55s;
  -o-transition: -o-transform 0.55s;
  transition: transform 0.55s;
  -webkit-transform: translate3d(0, 40%, 0);
  transform: translate3d(0, 40%, 0);
  -webkit-transition-property: all;
  transition-property: all; }
  .y4dj__content.active {
    opacity: 1;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.y4dj__content--work {
  max-width: 1200px; }

.y4dj__content--contact {
  padding-bottom: 5em; }

.y4dj__avatar-container {
  border-radius: 100px;
  margin: 0 auto 40px;
  overflow: hidden;
  width: 160px;
  height: 160px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

.y4dj__avatar {
  background-image: url("/images/profile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  width: 160px;
  height: 160px; }

.y4dj__showcase {
  margin: 4em auto 0;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

.y4dj__showcase--fancy {
  border: none;
  position: relative;
  padding-bottom: 53.4%; }

.y4dj__showcase-item {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-end;
  -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-end;
  transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-end;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  filter: gray; }
  .y4dj__showcase-item:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray; }
    .y4dj__showcase-item:hover:hover {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .y4dj__showcase-item:hover .y4dj__pane-header {
      opacity: 1;
      -webkit-transform: translate3d(-50%, -20%, 0);
      transform: translate3d(-50%, -20%, 0); }

.y4dj__showcase-item--clip1 {
  -webkit-clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%);
  clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%); }
  .y4dj__showcase-item--clip1:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    z-index: 6; }

.y4dj__showcase-item--clip2 {
  -webkit-clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
  clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%); }
  .y4dj__showcase-item--clip2:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    z-index: 6; }

.y4dj__showcase-item--clip3 {
  -webkit-clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
  clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%); }
  .y4dj__showcase-item--clip3:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    z-index: 6; }

.y4dj__showcase-item--clip4 {
  -webkit-clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
  clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%); }
  .y4dj__showcase-item--clip4:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    z-index: 6; }

.y4dj__showcase-item--clip5 {
  -webkit-clip-path: polygon(80% 0%, 100% 0, 100% 100%, 80% 100%);
  clip-path: polygon(80% 0%, 100% 0, 100% 100%, 80% 100%); }
  .y4dj__showcase-item--clip5:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    -o-transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    transition: -webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start;
    z-index: 6; }

.y4dj__pane-header {
  padding: 10px;
  bottom: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.35s;
  -moz-transition: -moz-transform 0.35s;
  -o-transition: -o-transform 0.35s;
  transition: transform 0.35s;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  -webkit-transition-property: all;
  transition-property: all;
  left: 50%;
  -webkit-transform: translate3d(-50%, 40%, 0);
  transform: translate3d(-50%, 40%, 0); }
  .sans-serif .y4dj__pane-header {
    background: #ff481f; }
  .serif .y4dj__pane-header {
    background: #34495e; }
  .y4dj__pane-header .alt {
    text-align: center; }
  .y4dj__showcase-item .y4dj__pane-header {
    -webkit-transform: translate3d(-50%, 100%, 0);
    transform: translate3d(-50%, 100%, 0); }

.y4dj__image {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  width: 100%; }

.y4dj__image--obvious {
  background-image: url("/images/work/obvious-2x.jpg"); }

.y4dj__image--yogaglo {
  background-image: url("/images/work/yogaglo-2x.jpg"); }

.y4dj__image--shipwire {
  background-image: url("/images/work/shipwire-2x.jpg"); }

.y4dj__image--social-portrait {
  background-image: url("/images/work/tl-social-portrait-2x.jpg"); }

.y4dj__image--scotiabank {
  background-image: url("/images/work/scotiabank-2x.jpg"); }

.y4dj__contact {
  list-style: none;
  margin: 0 auto 5em;
  padding: 0;
  width: 300px; }

.y4dj__icon:before {
  font-family: y4djicons;
  font-size: 20px;
  font-style: normal;
  margin-right: 15px; }

.y4dj__icon--resume:before {
  content: "\e002"; }

.y4dj__icon--email:before {
  content: "\e001"; }

.y4dj__icon--phone:before {
  content: "\e005"; }

.y4dj__icon--linkedin:before {
  content: "\e004"; }

.y4dj__icon--instagram:before {
  content: "\e003"; }

.y4dj__icon--twitter:before {
  content: "\e000"; }

.y4dj__icon-credit {
  color: #8d9c9c;
  margin-top: 2em;
  font-size: 11px;
  text-align: center; }
  .y4dj__icon-credit a {
    color: #8d9c9c; }

@media screen and (max-width: 1024px) {
  .y4dj__header:after {
    display: none; }
  .y4dj__header .y4dj__header-content {
    width: 875px; }

  .y4dj__header--bd .y4dj__header-content .y4dj__header-title,
  .y4dj__header--hello .y4dj__header-content .y4dj__header-title,
  .y4dj__header--ralph-hello .y4dj__header-content .y4dj__header-title {
    font-size: 6em; }

  .y4dj__showcase {
    margin: 4em auto 0;
    overflow: hidden;
    width: 100%;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }

  .y4dj__showcase--fancy {
    padding-bottom: 0; }

  .y4dj__showcase-item {
    margin-bottom: 2em;
    position: relative;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: gray;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37); }

  .y4dj__showcase-item--clip2 {
    display: none; }

  .y4dj__showcase-item--clip1,
  .y4dj__showcase-item--clip3,
  .y4dj__showcase-item--clip4,
  .y4dj__showcase-item--clip5 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 500px; }
    .y4dj__showcase-item--clip1:hover,
    .y4dj__showcase-item--clip3:hover,
    .y4dj__showcase-item--clip4:hover,
    .y4dj__showcase-item--clip5:hover {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .y4dj__showcase-item--clip1 .y4dj__image,
    .y4dj__showcase-item--clip3 .y4dj__image,
    .y4dj__showcase-item--clip4 .y4dj__image,
    .y4dj__showcase-item--clip5 .y4dj__image {
      padding-bottom: 32%; } }
@media only screen and (max-width: 960px) {
  .y4dj__showcase-item--clip1,
  .y4dj__showcase-item--clip3,
  .y4dj__showcase-item--clip4,
  .y4dj__showcase-item--clip5 {
    height: 479px; } }
@media screen and (max-width: 800px) {
  .y4dj__header-title {
    font-size: 5em; }

  .y4dj__header-detail {
    display: none; }

  h2 {
    font-size: 3em; }

  .y4dj__header:after {
    display: none; }

  .y4dj__header--bd .y4dj__header-content,
  .y4dj__header--hello .y4dj__header-content,
  .y4dj__header--ralph-hello .y4dj__header-content {
    width: 570px; }
    .y4dj__header--bd .y4dj__header-content .y4dj__header-title,
    .y4dj__header--hello .y4dj__header-content .y4dj__header-title,
    .y4dj__header--ralph-hello .y4dj__header-content .y4dj__header-title {
      font-size: 4em; }
      .y4dj__header--bd .y4dj__header-content .y4dj__header-title em,
      .y4dj__header--hello .y4dj__header-content .y4dj__header-title em,
      .y4dj__header--ralph-hello .y4dj__header-content .y4dj__header-title em {
        display: inline; }

  .y4dj__header--siberia .y4dj__header-content {
    width: 310px; }

  .y4dj__box-arrow {
    bottom: 14%; }

  .y4dj__copy {
    margin-bottom: 3em; }

  .y4dj__avatar-container {
    border-radius: 100px;
    margin-bottom: 20px; }

  .y4dj__content-container {
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0); }

  .y4dj__content {
    margin-bottom: 0; }

  .y4dj__content--contact {
    padding-bottom: 10em; }

  .y4dj__showcase-item--clip2 {
    display: none; }

  .y4dj__showcase-item--clip1,
  .y4dj__showcase-item--clip3,
  .y4dj__showcase-item--clip4,
  .y4dj__showcase-item--clip5 {
    height: auto; }
    .y4dj__showcase-item--clip1 .y4dj__image,
    .y4dj__showcase-item--clip3 .y4dj__image,
    .y4dj__showcase-item--clip4 .y4dj__image,
    .y4dj__showcase-item--clip5 .y4dj__image {
      padding-bottom: 32%; }

  .y4dj__image--obvious {
    background-image: url("/images/work/obvious-mobile.jpg"); }

  .y4dj__image--yogaglo {
    background-image: url("/images/work/yogaglo-mobile.jpg"); }

  .y4dj__image--shipwire {
    background-image: url("/images/work/shipwire-mobile.jpg"); }

  .y4dj__image--social-portrait {
    background-image: url("/images/work/tl-social-portrait-mobile.jpg"); }

  .y4dj__image--scotiabank {
    background-image: url("/images/work/scotiabank-mobile.jpg"); } }
@media screen and (max-width: 414px) {
  .y4dj__header-header .y4dj__header-content {
    width: 175px; }

  .y4dj__header--bd .y4dj__header-content,
  .y4dj__header--hello .y4dj__header-content,
  .y4dj__header--ralph-hello .y4dj__header-content {
    width: 175px; }
    .y4dj__header--bd .y4dj__header-content .y4dj__header-title,
    .y4dj__header--hello .y4dj__header-content .y4dj__header-title,
    .y4dj__header--ralph-hello .y4dj__header-content .y4dj__header-title {
      font-size: 4em; }
      .y4dj__header--bd .y4dj__header-content .y4dj__header-title em,
      .y4dj__header--hello .y4dj__header-content .y4dj__header-title em,
      .y4dj__header--ralph-hello .y4dj__header-content .y4dj__header-title em {
        display: block; } }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  /* 2 */
  -ms-text-size-adjust: 1em; }

html, body {
  margin: 0; }

img {
  border: none; }

body {
  background-color: #ffffff;
  color: #000;
  position: relative; }
  @media screen and (max-width: 800px) {
    body {
      margin: 0;
      width: 100%; } }

a {
  color: #333;
  text-decoration: none; }

input {
  color: #333; }

*[contenteditable], button {
  outline: none; }

address {
  font-style: normal; }

* ::selection {
  color: #fafaf4;
  text-shadow: none !important; }
  .sans-serif * ::selection {
    background: #ff5d39; }
  .serif * ::selection {
    background: #3d566e; }

/*# sourceMappingURL=main.css.map */
