.animation--title-slide-up {
	@include translate3d(0,0,0);
	@include animation-name(slide-up);
	@include animation-duration(0.9s);
	@include animation-timing-function(ease-in-out);
}

.animation--showcase-carousel {
	@include animation-name(carousel);
	@include animation-duration(30s);
	@include animation-iteration-count(infinite);
}

@-webkit-keyframes slide-up {
	0% {
		@include translate(0, 50px);
		opacity: 0;
	}
	40% {
		@include translate(0, 50px);
		opacity: 0;
	}
	90% {
		@include translate(0, 0);
		opacity: 1;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		@include translate(0, 50px);
		opacity: 0;
	}
	40% {
		@include translate(0, 50px);
		opacity: 0;
	}
	90% {
		@include translate(0, 0);
		opacity: 1;
	}
	100% {
		@include translate(0, 0);
		opacity: 1;
	}
}

@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

.trans {
	@include transition(all 0.35s ease-in-out);
}
