// Obvious Icons
@font-face {
	font-family: "y4djicons";
	src: url("/fonts/y4dj-icon.eot");
	src: url("/fonts/y4dj-icon.eot?#iefix") format("embedded-opentype"),
		url("/fonts/y4dj-icon.woff") format("woff"),
		url("/fonts/y4dj-icon.ttf") format("truetype"),
		url("/fonts/y4dj-icon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
