.y4dj__header {
	overflow: hidden;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: $window-height;
	width: $window-width;
	z-index: 1;
	@include transition-property(all);

	&:before {
		content: "";
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
	}

	&:after {
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 4;
		@include box-shadow(inset 0px -1px 238px 27px rgba(0,0,0,0.45));

		.aquest & {
			@include box-shadow(inset 0px -1px 238px 27px rgba(0,0,0,0.35));
		}
	}
	
	&.slide-up {
		@include transition-transform(0.55s);
		@include translate3d(0,-100%,0);
		@include transition-property(all);
		opacity: 0;
	}

}
	.y4dj__header--bd {
		background: $c-white;

		&:before {
			background-image: url('/images/11b.jpg');
			opacity: 0.95;
		}
	}

	.y4dj__header--siberia {
		background: $c-links;

		&:before {
			background-image: url('/images/rugrat-roll.gif');
			@include greyscale(50%);
			opacity: 0.7;
		}
	}

	.y4dj__header--hello {
		background: $c-black;

		background: -webkit-linear-gradient(right top, rgba(74, 74, 74, 0) 0%, rgb(74, 74, 74) 100%), 
		-webkit-linear-gradient(right bottom, rgba(115, 115, 132, 0) 0%, rgb(115, 115, 132) 100%), 
		-webkit-linear-gradient(left top, rgba(96, 43, 21, 0) 0%, rgb(96, 43, 21) 100%), 
		-webkit-linear-gradient(left bottom, rgba(138, 148, 171, 0) 0%, rgb(138, 148, 171) 100%);

		&:before {
			background-image: url('/images/seinfeld-hi.gif');
			@include greyscale(50%);
		}
	}

	.y4dj__header--ralph-hello {
		background: $c-black;

		background: -webkit-linear-gradient(right top, rgba(83, 28, 0, 0) 0%, rgb(83, 28, 0) 100%), 
		-webkit-linear-gradient(left top, rgba(190, 99, 80, 0) 0%, rgb(190, 99, 80) 100%), 
		-webkit-linear-gradient(right bottom, rgba(103, 148, 161, 0) 0%, rgb(103, 148, 161) 100%), 
		-webkit-linear-gradient(left bottom, rgba(222, 219, 221, 0) 0%, rgb(222, 219, 221) 100%);

		&:before {
			background-image: url('/images/ralph-hi.gif');
			@include greyscale(50%);
		}
	}

.y4dj__header-content {
	margin: 0 auto;
	position: relative;
	height: $window-height;
	width: 1100px;
	z-index: 5;

	@include flexbox-vertical-center;
}

.y4dj__header-detail {
	color: $c-white;
	font-size: 0.75em;
	position: absolute;
	z-index: 40;
	bottom: 2%;
	right: 2%;
}

.y4dj__box-arrow {
	.sans-serif & {
		background: $c-orange;
	}
	
	.serif & {
		background: $c-blue;
	}
	border: 0;
	width: 48px;
	height: 48px;
	position: absolute;
	z-index: 40;
	bottom: 10%;
	left: 50%;
	margin: 0 0 0 -24px;
	cursor: pointer;
	display: block;


	.arrow-line {
		width: 2px;
		height: 18px;
		top: 14px;
		left: 50%;
		position: absolute;
		display: block;
		margin: 0 0 0 -1px;
		background: $c-white;
		z-index: 1;
	}

	.arrow {
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 7px 6px 0 6px;
		border-color: $c-white transparent transparent transparent;
		display: block;
		position: absolute;
		z-index: 4;
		bottom: -4px;
		left: -5px;
	}

	&:hover {
		.sans-serif & {
			background: darken($c-orange, 5%);
		}
		
		.serif & {
			background: darken($c-blue, 5%);
		}

    	.arrow-line {
    	    height:49px;
    	}
	}
}

.y4dj__content-container {
	@include translate3d(0, 3%, 0);
}

.y4dj__content {
	max-width: 1000px;
	margin: 0 auto 5em;
	opacity: 0;
	overflow: hidden;
	padding: 0.5em 2em;
	@include transition-transform(0.55s);
	@include translate3d(0, 40%, 0);
	@include transition-property(all);

	&.active {
		opacity: 1;
		@include transition-property(all);
		@include translate3d(0, 0, 0);
	}
}

	.y4dj__content--work {
		max-width: 1200px;
	}

	.y4dj__content--contact {
		padding-bottom: 5em;
	}


.y4dj__avatar-container {
	border-radius: 100px;
	margin: 0 auto 40px;
	overflow: hidden;
	width: 160px;
	height: 160px;
	@include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
}

.y4dj__avatar {
	background-image: url('/images/profile.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	width: 160px;
	height: 160px;
}

.y4dj__showcase {
	margin: 4em auto 0;
    overflow: hidden;
    width: 100%;
    @include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
}

	.y4dj__showcase--fancy {
		border: none;
		position: relative;
		padding-bottom: 53.4%;
	}

.y4dj__showcase-item {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	@include translate3d(0, 0, 0);
	@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-end);
	@include greyscale(75%);


	&:hover {
    	@include greyscale(0);

    	&:hover {
			opacity: 1;
			@include translate3d(0, 0, 0);
		}

		.y4dj__pane-header {
			opacity: 1;
			@include translate3d(-50%, -20%, 0);
		}
    }
}
	.y4dj__showcase-item--clip1 {
		-webkit-clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%);
		clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%);

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start);
			z-index: 6;
		}
	}

	.y4dj__showcase-item--clip2 {
		-webkit-clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);
		clip-path: polygon(20% 0, 40% 0, 40% 100%, 20% 100%);

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start);
			z-index: 6;
		}
	}

	.y4dj__showcase-item--clip3 {
		-webkit-clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);
		clip-path: polygon(40% 0, 60% 0, 60% 100%, 40% 100%);

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start);
			z-index: 6;
		}
	}

	.y4dj__showcase-item--clip4 {
		-webkit-clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);
		clip-path: polygon(60% 0, 80% 0, 80% 100%, 60% 100%);

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start);
			z-index: 6;
		}
	}

	.y4dj__showcase-item--clip5 {
		-webkit-clip-path: polygon(80% 0%, 100% 0, 100% 100%, 80% 100%);
		clip-path: polygon(80% 0%, 100% 0, 100% 100%, 80% 100%);

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
			@include transition(-webkit-filter 0.55s, filter 0.55s, -webkit-clip-path 0.55s, clip-path 0.55s, z-index 0.56s step-start);
			z-index: 6;
		}
	}
	

.y4dj__pane-header {
	.sans-serif & {
		background: $c-orange;
	}
	
	.serif & {
		background: $c-blue;
	}
	
	padding: 10px;
	
	bottom: 0;
	position: absolute;
	opacity: 0;
	@include transition-transform(0.35s);
	@include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
	@include transition-property(all);
	left: 50%;
	@include translate3d(-50%, 40%, 0);

	.alt {
		text-align: center;
	}

	.y4dj__showcase-item & {
		@include translate3d(-50%, 100%, 0); 
	}
}

.y4dj__image {
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	width: 100%;
}
	.y4dj__image--obvious {
		background-image: url('/images/work/obvious-2x.jpg');
	}

	.y4dj__image--yogaglo {
		background-image: url('/images/work/yogaglo-2x.jpg');
	}

	.y4dj__image--shipwire {
		background-image: url('/images/work/shipwire-2x.jpg');
	}

	.y4dj__image--social-portrait {
		background-image: url('/images/work/tl-social-portrait-2x.jpg');
	}

	.y4dj__image--scotiabank {
		background-image: url('/images/work/scotiabank-2x.jpg');
	}

.y4dj__contact {
	list-style: none;
	margin: 0 auto 5em;
	padding: 0;
	width: 300px;
}

.y4dj__icon {
	&:before {
		font-family: y4djicons;
		font-size: 20px;
		font-style: normal;
		margin-right: 15px;
	}
}
	.y4dj__icon--resume {
		&:before {
			content:"\e002";
		}
	}

	.y4dj__icon--email {
		&:before {
			content:"\e001";
		}
	}

	.y4dj__icon--phone {
		&:before {
			content:"\e005";
		}
	}

	.y4dj__icon--linkedin {
		&:before {
			content:"\e004";
		}
	}

	.y4dj__icon--instagram {
		&:before {
			content:"\e003";
		}
	}

	.y4dj__icon--twitter {
		&:before {
			content:"\e000";
		}
	}

.y4dj__icon-credit {
	color: darken($c-bg-grey, 30%);
	margin-top: 2em;
	font-size: 11px;
	text-align: center;

	a {
		color: darken($c-bg-grey, 30%);
	}
}

@media screen and (max-width: $lap) {
	.y4dj__header {
		&:after {
			display: none;
		}

		.y4dj__header-content {
			width: 875px;
		}
	}

	.y4dj__header--bd,
	.y4dj__header--hello,
	.y4dj__header--ralph-hello {
		.y4dj__header-content {

			.y4dj__header-title {
				font-size: 6em;
			}
		}
	}

	.y4dj__showcase {
		margin: 4em auto 0;
	    overflow: hidden;
	    width: 100%;
	    @include box-shadow(0 0 0 0 rgba(0,0,0,0));
	}
		.y4dj__showcase--fancy {
			padding-bottom: 0;
		}

	.y4dj__showcase-item {
		margin-bottom: 2em;
		position: relative;
		@include greyscale(0);
		@include box-shadow(0 1px 4px 0 rgba(0,0,0,0.37));
	}

	.y4dj__showcase-item--clip2 {
		display: none;
	}

	.y4dj__showcase-item--clip1,
	.y4dj__showcase-item--clip3,
	.y4dj__showcase-item--clip4,
	.y4dj__showcase-item--clip5 {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		height: 500px;

		&:hover {
			-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}

		.y4dj__image {
			padding-bottom: 32%;
		}
	}
}

@media only screen and (max-width: $lap-small) { 
	.y4dj__showcase-item--clip1,
	.y4dj__showcase-item--clip3,
	.y4dj__showcase-item--clip4,
	.y4dj__showcase-item--clip5 {
		height: 479px;
	}
}

@media screen and (max-width: $palm-land) {
	.y4dj__header-title {
		font-size: 5em;
	}

	.y4dj__header-detail {
		display: none;
	}

	h2 {
		font-size: 3em;
	}

	.y4dj__header {
		&:after {
			display: none;
		}
	}

	.y4dj__header--bd,
	.y4dj__header--hello,
	.y4dj__header--ralph-hello {
		.y4dj__header-content {
			width: 570px;

			.y4dj__header-title {
				font-size: 4em;

				em {
					display: inline;
				}
			}
		}
	}

	.y4dj__header--siberia {
		.y4dj__header-content {
			width: 310px;
		}
	}

	.y4dj__box-arrow {
		bottom: 14%;
	}

	.y4dj__copy {
		margin-bottom: 3em;
	}

	.y4dj__avatar-container {
		border-radius: 100px;
		margin-bottom: 20px;
	}

	.y4dj__content-container {
		@include translate3d(0, 2%, 0);
	}

	.y4dj__content {
		margin-bottom: 0;
	}
		.y4dj__content--contact {
			padding-bottom: 10em;
		}

	.y4dj__showcase-item--clip2 {
		display: none;
	}

	.y4dj__showcase-item--clip1,
	.y4dj__showcase-item--clip3,
	.y4dj__showcase-item--clip4,
	.y4dj__showcase-item--clip5 {
		height: auto;

		.y4dj__image {
			padding-bottom: 32%;
		}
	}
	
	.y4dj__image--obvious {
		background-image: url('/images/work/obvious-mobile.jpg');
	}

	.y4dj__image--yogaglo {
		background-image: url('/images/work/yogaglo-mobile.jpg');
	}

	.y4dj__image--shipwire {
		background-image: url('/images/work/shipwire-mobile.jpg');
	}

	.y4dj__image--social-portrait {
		background-image: url('/images/work/tl-social-portrait-mobile.jpg');
	}

	.y4dj__image--scotiabank {
		background-image: url('/images/work/scotiabank-mobile.jpg');
	}

}

@media screen and (max-width: $palm-port) {

	.y4dj__header-header {
		.y4dj__header-content {
			width: 175px;
		}
	}

	.y4dj__header--bd,
	.y4dj__header--hello,
	.y4dj__header--ralph-hello {
		.y4dj__header-content {
			width: 175px;

			.y4dj__header-title {
				font-size: 4em;

				em {
					display: block;
				}
			}
		}
	}
}