<md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
	<div flex="70">
		<md-input-container>
			<label>Sector</label>
			<md-select ng-model="selectedSector">
				<md-option ng-repeat="sector in sectors" ng-value="{{ sector }}">
					{{ sector.sectorName }}
				</md-option>
			</md-select>
		</md-input-container>
		<md-input-container>
			<label>Climb</label>
			<md-select ng-model="selectedClimb">
				<md-option ng-repeat="climb in selectedSector.sectorClimbs" ng-value="{{ climb }}">
					{{ climb.name }}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
	<div layout="row" layout-align="end center" flex="30">
		<md-button class="md-raised md-primary">New Sector</md-button>
		<md-button class="md-raised md-primary">New Climb</md-button>
	</div>
</md-content>
<md-content layout-padding>
	<div ng-class="{ 'is-active' : selectedClimb }">
		<form name="updateClimbForm">
			<div layout-gt-xs="row">
				<md-input-container class="md-block" flex-gt-xs>
					<label>Climb Name</label>
					<input ng-model="selectedClimb.name">
				</md-input-container>
			</div>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Description</label>
				<textarea ng-model="selectedClimb.description" columns="1" rows="5"></textarea>
			</md-input-container>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Climb Type</label>
					<input ng-model="selectedClimb.climbType">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Grade</label>
					<input ng-model="selectedClimb.grade">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<label>Boulder Name</label>
					<input ng-model="selectedClimb.boulderName">
				</md-input-container>
			</div>
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm>
					<label>Start</label>
					<input ng-model="selectedClimb.start">
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<md-checkbox ng-model="selectedClimb.topOut" aria-label="Top Out">
						Top Out
					</md-checkbox>
				</md-input-container>
				<md-input-container class="md-block" flex-gt-sm>
					<md-checkbox ng-model="selectedClimb.bl" aria-label="BL">
						BL (?)
					</md-checkbox>
				</md-input-container>
			</div>
			<md-input-container class="md-block" flex-gt-xs>
				<label>Restrictions</label>
				<textarea ng-model="selectedClimb.restrictions" columns="1" rows="5"></textarea>
			</md-input-container>
			<md-button class="md-raised md-primary">Update</md-button>
		</form>
	</div>
</md-content>